# This is a basic workflow to help you get started with Actions

name: Cuda_Windows_CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    name: "Windows Cuda Actions"
    #runs-on: windows-latest
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          # Windows2019 & VS 2019 supports 10.1+
          - os: windows-latest
            cuda: "11.7.0"
            #visual_studio: "Visual Studio 16 2019"
            visual_studio: "Visual Studio 17 2022"
    env:
      build_dir: "build"
      config: "Release"
    steps:
      - uses: actions/checkout@v2
      - uses: Jimver/cuda-toolkit@v0.2.8      
      - name: Download and Install MPI HDF5 CGNS METIS
        id: cuda-toolkit
        with:
          cuda: ${{ matrix.cuda }}
        run: |
          ls $env:CUDA_PATH
          ls $env:CUDA_PATH\bin
          ls $env:CUDA_PATH\include            
        #run: echo "Installed cuda version is: ${{steps.cuda-toolkit.outputs.cuda}}"
        #run: echo "Cuda install location: ${{steps.cuda-toolkit.outputs.CUDA_PATH}}"
        #run: nvcc -V       
        shell: pwsh
      - name: cmake version
        shell: bash
        run: cmake --version
      - name: Configure CMake
        id: configure
        shell: bash
        run: cmake . -B ${{ env.build_dir }} -G "${{ matrix.visual_studio }}" -A x64         
