# This is a basic workflow to help you get started with Actions

name: Cuda_Windows_CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    name: "Windows Cuda Actions"
    #runs-on: windows-latest
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          # Windows2019 & VS 2019 supports 10.1+
          - os: windows-latest
            cuda: "11.3.0"
            #visual_studio: "Visual Studio 16 2019"
            visual_studio: "Visual Studio 17 2022"
    env:
      build_dir: "build"
      config: "Release"
    steps:
      - uses: actions/checkout@v2
      - name: Download and Install MPI HDF5 CGNS METIS
        run: |
          cd ${{ github.workspace }}
          ls
        shell: pwsh
      - name: Run OneFLOW CFD Tests
        env: 
          cuda: ${{ matrix.cuda }}
          visual_studio: ${{ matrix.visual_studio }}
        run:
          cd ${{ github.workspace }}
          ls
        shell: pwsh
      shell: powershell
      - name: cmake version
        shell: bash
        run: cmake --version
      - name: Configure CMake
        id: configure
        shell: bash
        run: cmake . -B ${{ env.build_dir }} -G "${{ matrix.visual_studio }}" -A x64         
